@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-to-from-rgb: 255, 255, 255, 0.;
  --background-color: #181818;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}
.bg-0{
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(
    rgba(var(--background-to-from-rgb)),
    rgba(var(--background-to-from-rgb)));
}
.bg-1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05));
}
.bg-2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09));
}
.bg-3 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.12),
      rgba(255, 255, 255, 0.12));
}
.bg-4 {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.18));
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}
#optinput{
  letter-spacing: 0.3em;
}